<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
    fxLayout.Align.gt-md="space-around center" fxLayoutGap="60px" fxLayoutGap.xs="0">

    <div fxFlex="100" *ngIf="dish" [@visibility]="visibility">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{dish.name | uppercase}}</mat-card-title>
            </mat-card-header>

            <img mat-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
            <map-card-content>
                <p>{{dish.description}}</p>
            </map-card-content>
            <hr>
            <mat-card-action>

                <button mat-button [routerLink]="['/dishdetail', prev]">
                    <span class="fa fa-chevron-left fa-lg"></span></button>
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <span class="flex-spacer"></span>
                <button mat-button [routerLink]="['/dishdetail', next]">
                    <span class="fa fa-chevron-right fa-lg"></span></button>
            </mat-card-action>
        </mat-card>
    </div>

    <div fxFlex="40" fxLayout="column" *ngIf="dish" [@visibility]="visibility">
        <div>
            <h2 matSubheader>Comments</h2>
            <mat-list *ngFor="let cmt of dish.comments">
                <mat-list-item>
                    <!-- <p matLine><img height="27" width="30" src="/assets/images/cmt.png"><span>{{cmt.comment}} </span></p>
                <p matLine><img height="27" width="30" src="/assets/images/rating.jfif"><span>  {{  cmt.rating}} </span></p>
                <p matLine><img height="27" width="30" src="/assets/images/man.png"><span>--{{cmt.author}} </span></p>
                <p matLine><img height="27" width="30" src="/assets/images/date.png"><span>{{cmt.date | date}}</span></p> -->
                    <p matLine><span>{{cmt.comment}} </span></p>
                    <p matLine><span> {{  cmt.rating}} </span></p>
                    <p matLine><span>--{{cmt.author}} </span> <span>{{cmt.date | date}}</span></p>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </div>

        <div fxFlex flexOffset="20px" class="form-size form">
            <pre [hidden]="commentForm.invalid">{{commentForm.get('author').value}}
{{commentForm.get('rating').value}}
{{commentForm.get('comment').value}}
            </pre>
            <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="form">
                <p>
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Name" formControlName="author" type="text" required>
                        <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
                    </mat-form-field>
                </p>

                <mat-slider formControlName="rating" [thumbLabel]=true min="1" max="5" step="1" tickInterval="1">
                </mat-slider>
                <br>
                <mat-form-field class="full-width">
                    <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
                    <mat-error *ngIf="formErrors.comment">{{formErrors.comment }}</mat-error>
                </mat-form-field>
                <br>
                <button type="submit" mat-button class="background-primary text-floral-white  "
                    [disabled]="commentForm.invalid">Submit</button>
            </form>
        </div>
    </div>
    <div fxFlex [hidden]="dish || errMess">
        <mat-spinner></mat-spinner>
        <h3>Loading... Please Wait</h3>
    </div>
    <div fxFlex *ngIf="errMess">
        <h3>Error</h3>
        <h4>{{errMess}}</h4>
    </div>


</div>